/* common start  */
body{
    margin: 0;
    padding: 0;
}
/* common end  */

/* header start  */
header{
    padding-top: 5px;
    border-bottom: 3px solid #edf0f3;
}
.container{
    margin: 0 auto;
    width: 90%;
    overflow: hidden;
    /* border: 1px solid black; */
}
.logo{
    width: 10%;
    float: left;
    /* border: 1px solid black; */
}
.logo img{
    width: 100%;
}
.menu{
    margin-top: 5px;
    width: 40%;
    float: right;
    /* border: 1px solid black; */
}
.menu ul{
    float: right;
}
.menu ul li{
    float: left;
    list-style: none;
}
.menu ul li a{
    margin-right: 45px;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #0f2656;
    text-decoration: none;
}
.menu ul li:last-child a{
    margin-right: 0;
}
.menu ul li:hover a{
    color: #008AFF;
}
/* header end  */


/* banner start  */
.banner{
    padding: 50px 0;
}
.container2{
    margin: 0 auto;
    width: 50%;
    /* border: 1px solid black; */
}
.b_content{
    text-align: center;

}
.b_text{
    font-family: sans-serif;
}
.b_text h2{
    margin: 0 0;
    font-size: 50px;
    font-weight: 700;
    color: #0f2656;
}
.b_text h1{
    margin: 10px 0;
    font-size: 50px;
    font-weight: 700;
    color: #008AFF;
}
.b_text p{
    margin: 0 0 10px;
    font-size: 16px;
    font-weight: 500;
    color: #0f2656;
}
.b_img{
    width: 75%;
    margin: 0 auto;
}
.b_img img{
    width: 100%;
    /* border: 1px solid red; */
}
/* banner end  */


/* successful start  */
.successful{
    padding: 20px 0;
}
.s_content{
    overflow: hidden;
    /* border: 1px solid red; */
}
.s_left{
    float: left;
    font-family: sans-serif;
    width: 45%;
    /* border: 1px solid black; */
    text-align: right;
}
.s_left h2{
    margin: 0 0;
    font-size: 50px;
    font-weight: 700;
    color: #f15767;
}
.s_left p{
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 400;
    color: #0f2656;
    line-height: 22px;
    word-spacing: 4px;
}
.s_right{
    width: 50%;
    float: right;
    font-family: sans-serif;
    /* border: 1px solid black; */
}
.s_right h1{
    margin: 0;
    font-size: 54px;
    font-weight: 700;
    color: #0f2656;
}
/* successful end  */


/* features start  */
.features{
    padding: 45px 0;
}
.f_content{
    overflow: hidden;
}
.f_single{
    margin-right: 3%;
    padding: 30px 2% 40px;
    width: 27%;
    float: left;
    border: 1px solid black;
}
.f_img{}
.f_img img{
    width: 100%;
}
.f_text{
    font-family: sans-serif;
    color: #0F2556;
}
.f_text h2{
    margin: 0;
    font-size: 30px;
    font-weight: 600;
}
.f_text p{
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 400;
    line-height: 23px;
}
.pink{
    background-color: #fdebed;
}
.green{
    background-color: #ebf9f4;
}
.yellow{
    background-color: #fff7e8;
}
.f_single:last-child{
    margin-right: 0;
}
/* features end  */


/* footer start  */
footer{
    margin-top: 20px;
    padding: 15px 0;
    font-family: sans-serif;
    color: #85d2ff;
    background-color: #008aff; ;
    text-align: center;
    word-spacing: 2px;
}
footer p{}
footer p a{
    font-size: 25px;
    font-weight: 700;
    color: #bdf8ff;
    text-decoration: none;
    letter-spacing: 3px;
}
/* footer end  */